<h1>Productos en venta</h1>
<div class="container container-user-actions">

    <p>Bienvenidx <b>{{userFirst}}</b></p>
    <p>Rol: <b>{{userRole}}</b></p>
    <a href="/api/session/logout">Logout</a>

</div>

<div class="container container-categories">
    <span>Categorías: </span>
    <a href="?">Todo</a>
    <a href="?category=Juguetes">Juguetes</a>
    <a href="?category=Accesorios">Accesorios</a>
    <a href="?category=Alimento">Alimento</a>
    <a href="?category=Sanitarios">Sanitarios</a>
</div>
{{#if statusBool}}
    <div class="container container-pages">

        {{#if hasPrevPage}}
            <a href="">PAG ANTERIOR</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="">PAG ANTERIOR</a>
        {{/if}}
    </div>
{{/if}}

{{#if statusBool}}
    <div class="container">
        <div class="row">
            {{#each payload}}
                <div class="col-4 card product">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{title}}
                        </h2>
                        <div class="card-text">
                            <p>{{description}}</p>
                            <span>Precio: $ {{price}}</span>
                        </div>
                    </div>

                </div>
            {{/each}}
        </div>
    </div>

{{else}}
    <div>
        <h2>No se encontraron productos</h2>
    </div>
{{/if}}

{{! <script src="js/products.js"></script> }}